/* Media query */
 @media (max-width: 500px){
    :root{
        --height: calc(50vh - 75px); /* altura - altura do NAV */

    }
    header:has(*:checked:not(input[value='null'])){
        height: 920px;
    }
    header div.compras label{
        margin-right: 50px;
    }
    
    header div.doacoes label{
        margin-left: 50px;
    }
    div.detalhes div.gotas,
        div.detalhes::after, 
        div.detalhes::before{
            width: 40px;
    }
    header * div.conteudo{
        gap: 20px;
        flex-wrap: wrap-reverse;

    }
    header * div.conteudo article{
        margin: 0px !important;
    }
    header * div.conteudo article:nth-child(3){
        margin-top: 100px !important;
    }
    #invisible{
        display: none;
    }
}